tensorflow-probability-gpu
tensorflow-lattice-gpu
git+https://github.com/tensorflow/lucid.git
git+https://github.com/keras-team/keras-applications.git
git+https://github.com/keras-team/keras-preprocessing.git
git+https://github.com/keras-team/keras.git
git+https://github.com/keras-team/keras-contrib.git
kfac
tensorflow-hub
paperspace
PyMetis
cpplint
parsable
git+https://github.com/posterior/goftests.git
opt-einsum
git+https://github.com/posterior/treecat.git
pygogo
meza
git+https://github.com/tensorly/tensorly
git+https://github.com/tkipf/pygcn.git
git+https://github.com/drallensmith/neat-python.git
git+https://github.com/VinF/deer.git
git+https://github.com/salesforce/matchbox.git
git+https://github.com/nschaetti/EchoTorch.git
git+https://github.com/nschaetti/TorchLanguage.git
git+https://github.com/naught101/sobol_seq.git
git+https://github.com/tisimst/pyDOE.git
cma
GPy
gpyopt
git+https://github.com/SheffieldML/GPclust.git
git+https://github.com/SheffieldML/PyDeepGP.git
git+https://github.com/bayespy/bayespy.git
git+https://github.com/AmazaspShumik/sklearn-bayes.git
git+https://github.com/HIPS/hips-lib.git
git+https://github.com/HIPS/Spearmint.git
pyBigWig
pysam
petastorm
biopython
MDAnalysis
MDAnalysisTests
pmda
git+https://github.com/Cadene/pretrained-models.pytorch.git
git+https://github.com/creafz/pytorch-cnn-finetune.git
git+https://github.com/nicola-decao/s-vae-pytorch.git
git+https://github.com/pytorch/fairseq.git
git+https://github.com/pytorch/translate.git
datacleaner
Dora
git+https://github.com/NVIDIA/apex.git
git+https://github.com/montefiore-ai/clustertools.git
git+https://github.com/aresio/miniful.git
git+https://github.com/aresio/fst-pso.git
git+https://github.com/aresio/simpful.git
git+https://github.com/scikit-fuzzy/scikit-fuzzy.git
git+https://github.com/arviz-devs/arviz.git
git+https://github.com/Microsoft/dowhy.git
git+https://github.com/pybrain/pybrain.git
pybullet
git+https://github.com/openai/baselines.git
git+https://github.com/tflearn/tflearn.git
gin-config
dopamine-rl
git+https://github.com/GPflow/GPflow.git
git+https://github.com/GPflow/GPflowOpt.git
prettytensor
git+https://github.com/tensorlayer/tensorlayer.git
cocos2d
mazeexp
git+https://github.com/reinforceio/tensorforce.git
dm-sonnet-gpu
git+https://github.com/openai/retro.git
git+https://github.com/deepmind/dm_control.git
git+https://github.com/deepmind/pycolab.git
git+https://github.com/deepmind/surface-distance.git
git+https://github.com/seveas/python-prctl.git
git+https://github.com/tensorpack/tensorpack.git
git+https://github.com/tensorpack/zmq_ops.git
git+https://github.com/mila-udem/picklable-itertools.git
git+https://github.com/mila-udem/fuel.git
git+https://github.com/mila-udem/blocks.git
git+https://github.com/mila-udem/blocks-extras.git
git+https://github.com/mila-udem/platoon.git
git+https://github.com/IndicoDataSolutions/cuboid.git
randomgen
foolbox
autocorrect
git+https://github.com/dustinvtran/bayesrl.git
git+https://github.com/pablodecm/kernelflow.git
SimpleITK
dltk
uritemplate
cachetools
rsa
google-auth
google-auth-httplib2
google-api-python-client
git+https://github.com/quantumlib/Cirq.git
pubchempy
git+https://github.com/quantumlib/OpenFermion
3to2
strawberryfields-gpu
sfopenboson
qmlt
git+https://github.com/XanaduAI/hafnian.git
toposort
git+https://github.com/openai/multiagent-particle-envs.git
marisa-trie
ciseau
xml-cleaner
epub
bz2file
epub-conversion
wikipedia-ner
cssselect
hickle
objgraph
git+https://github.com/uqfoundation/multiprocess.git
git+https://github.com/uqfoundation/pox.git
git+https://github.com/uqfoundation/klepto.git
git+https://github.com/uqfoundation/ppft.git
git+https://github.com/tomerfiliba/rpyc.git
git+https://github.com/uqfoundation/pathos.git
git+https://github.com/uqfoundation/mystic.git
git+https://github.com/uqfoundation/pyina.git
sgf
oauth2client
tensor2tensor
git+https://github.com/mgelbart/plot-classifier.git
lime
git+https://github.com/calico/basenji.git
git+https://github.com/LowinData/pyautodiff.git
git+https://github.com/Lasagne/Lasagne.git
git+https://github.com/stefanwebb/tensorflow-models.git
git+https://github.com/stefanwebb/tensorflow-utils.git
git+https://github.com/stefanwebb/tensorflow-datasets.git
git+https://github.com/schaul/py-vgdl.git
git+https://github.com/kevtimova/basicprop.git
git+https://github.com/riannevdberg/gc-mc.git
git+https://github.com/keras-rl/keras-rl.git
git+https://github.com/slinderman/torchhmm.git
git+https://github.com/mattjj/svae.git
git+https://github.com/mattjj/pylds.git
git+https://github.com/mattjj/pyslds.git
git+https://github.com/slinderman/pyglm.git
git+https://github.com/slinderman/recurrent-slds.git
git+https://github.com/taynaud/python-louvain.git
git+https://github.com/pavlin-policar/fastTSNE.git
easydict
git+https://github.com/NicolasHug/surprise.git
polling
parse
awscli
line_profiler
ddt
geographiclib
nvector
git+https://github.com/sergeyfarin/pyqt-fit.git
pdoc
git+https://github.com/bmc/munkres.git
pymef
git+https://github.com/lmfit/lmfit-py.git
git+https://github.com/gatagat/lap.git
git+https://github.com/bstellato/mathprogbasepy.git
algopy
numdifftools
git+https://github.com/bradfordboyle/pyglpk.git
git+https://github.com/IndicoDataSolutions/Passage.git
