unification
git+https://github.com/pymc-devs/kanren.git
git+https://github.com/logpy/logpy.git
git+https://github.com/pymc-devs/pymc3-experimental.git
git+https://github.com/HIPS/autograd.git
ptvsd
glfw
meta
pyglet
observations
git+https://github.com/facebookresearch/visdom.git
mujoco-py
torchfile
graphviz
pygraphviz
pydot-ng
git+https://github.com/pytorch/audio.git
git+https://github.com/pytorch/text.git
git+https://github.com/pytorch/tnt.git
git+https://github.com/pytorch/ignite.git
git+https://github.com/pyro-ppl/pyro.git
git+https://github.com/probtorch/probtorch.git
git+https://github.com/mpi4py/mpi4py.git
git+https://github.com/skorch-dev/skorch.git
git+https://github.com/soravux/scoop.git
git+https://github.com/DEAP/deap.git
git+https://github.com/TeamHG-Memex/sklearn-crfsuite.git
git+https://github.com/TeamHG-Memex/eli5.git
onnx
onnxruntime-gpu
onnx-tf
git+https://github.com/onnx/tensorflow-onnx.git
pyre-check
pystan
fbprophet
traces
xar
plyara
flatbuffers
physiq-flatbuffers
docker
matrices
pylatex
numpy-stl
pandas-summary
sklearn-pandas
pynvrtc
git+https://github.com/emaballarin/carl.git
git+https://github.com/AMLab-Amsterdam/lie_learn.git
git+https://github.com/jonas-koehler/s2cnn.git
git+https://github.com/drckf/paysage.git
git+https://github.com/ctallec/pyvarinf.git
tensorboardX
torchfold
atari-py
Box2D
box2d-py
pygame
gym
gym[all]
plyfile
colored
