ptvsd
glfw
meta
pyglet
observations
git+https://github.com/facebookresearch/visdom.git
mujoco-py
torchfile
graphviz
pygraphviz
pydot-ng
git+https://github.com/pytorch/vision.git
git+https://github.com/pytorch/audio.git
git+https://github.com/pytorch/text.git
git+https://github.com/pytorch/tnt.git
git+https://github.com/pytorch/ignite.git
git+https://github.com/uber/pyro.git
git+https://github.com/probtorch/probtorch.git
git+https://github.com/mpi4py/mpi4py.git
git+https://github.com/dnouri/skorch.git
git+https://github.com/soravux/scoop.git
git+https://github.com/DEAP/deap.git
git+https://github.com/TeamHG-Memex/sklearn-crfsuite.git
git+https://github.com/TeamHG-Memex/eli5.git
onnx
onnxruntime-gpu
onnx-tf
git+https://github.com/onnx/tensorflow-onnx.git
pyre-check
pystan
fbprophet
traces
xar
plyara
flatbuffers
physiq-flatbuffers
docker
matrices
pylatex
numpy-stl
pandas-summary
sklearn-pandas
pynvrtc
git+https://github.com/emaballarin/carl.git
git+https://github.com/AMLab-Amsterdam/lie_learn.git
git+https://github.com/jonas-koehler/s2cnn.git
git+https://github.com/drckf/paysage.git
git+https://github.com/ctallec/pyvarinf.git
tensorboardX
torchfold
atari-py
Box2D
box2d-py
pygame
gym
gym[all]
plyfile
colored
cupy-cuda92
ideep4py
chainer
chainercv
chainerrl
onnx-chainer
chainerui
git+https://github.com/cornellius-gp/gpytorch.git
git+https://github.com/szagoruyko/pytorchviz.git
git+https://github.com/GRAAL-Research/pytoune.git
git+https://github.com/Hananel-Hazan/bindsnet.git
git+https://github.com/rusty1s/pytorch_scatter.git
git+https://github.com/rusty1s/pytorch_cluster.git
git+https://github.com/rusty1s/pytorch_spline_conv.git
git+https://github.com/rusty1s/pytorch_bincount.git
git+https://github.com/rusty1s/pytorch_sparse.git
git+https://github.com/rusty1s/pytorch_geometric.git
git+https://github.com/ecs-vlc/torchbearer.git
git+https://github.com/CMA-ES/pycma.git
git+https://github.com/zuoxingdong/lagom.git
git+https://github.com/danielhanchen/hyperlearn.git
git+https://github.com/probprog/pyprob.git
git+https://github.com/corochann/chainerex.git
git+https://github.com/corochann/chainer_sklearn.git
git+https://github.com/pfnet-research/chainer-chemistry.git
lazy-import
lazydata
mputil
pyprind
azure-datalake-store
nteract_on_jupyter
papermill
numcompress
git+https://github.com/rasbt/mlxtend.git#egg=mlxtend
git+https://github.com/rasbt/mytorch.git
git+https://github.com/rasbt/watermark#egg=watermark
git+https://github.com/montefiore-ai/pt_inspector.git
git+https://github.com/montefiore-ai/image_datasets.git
git+https://github.com/abhaikollara/flare.git
git+https://github.com/mattjj/pybasicbayes.git
git+https://github.com/eleurent/highway-env.git
git+https://github.com/eleurent/rl-agents.git
git+https://github.com/eleurent/obstacle-env.git
jupytext
hypothesis
update_checker
stopit
xgboost
tpot
grpcio-tools
pyrouge
git+https://github.com/mattjj/autograd_linalg.git
git+https://github.com/slinderman/gslrandom.git
git+https://github.com/mattjj/pyhsmm.git
git+https://github.com/mattjj/pyhsmm-autoregressive.git
git+https://github.com/slinderman/pyhsmm_spiketrains.git
